BasedOnStyle: LLVM
BreakBeforeBraces: Linux
IndentWidth: 2
UseTab: Never
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: None
AlignTrailingComments: true
SpaceBeforeParens: ControlStatements
PointerAlignment: Right
