# Ignore all files ending with ...
*~
*.bak

# Ignore specific directories anywhere in the directory tree
**/.devcontainer
**/.vscode
**/build/
**/managed_components/
**/depo/

# Ignore specific files anywhere in the directory tree
**/wifi_credentials.h
**/network_config.h
**/sdkconfig
**/sdkconfig.old
**/dependencies.lock
**/idf_component.yml
**/.codex

# Ignore specific directories
sparknode_cam_wifi/frames/
system/ota

# Ignore specific files
sparknode_cam_wifi/dependencies.lock
sparknode_cam_wifi/main/idf_component.yml
sparknode_cam_wifi/managed_components/
